python==3.10.x
numpy==2.0.1
opencv-python~=4.11.0.86
#pillow==11.1.0
pillow==9.5.0
segment_anything==1.0
torch==2.6.0
torchvision==0.21.0
requests~=2.32.3
segment-anything~=1.0
matplotlib~=3.10.0
ipython~=8.35.0